[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pinecone-client = "*"
python-dotenv = "*"
openai = "*"
jq = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
