[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pinecone-client = "*"
python-dotenv = "*"
openai = "*"
jq = "*"
tiktoken = "*"
streamlit = "*"
streamlit-chat = "*"
youtube-transcript-api = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.11."
python_full_version = "3.11.9"
